.app_home {
  width: 500px;
  height: 650px;
  border: 2px solid black;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  margin: 1rem auto;
  background-color: #3d0808;
  color: goldenrod;
  text-shadow: 1px 1px 5px black;
  position: relative;
}

.app_home h2 svg {
  margin-top: 2rem;
}