.app_home {
  width: 350px;
  height: 650px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  margin: 0 auto;
  background-color: #3d0808;
  color: goldenrod;
  text-shadow: 1px 1px 5px black;
}

.app_home h2 svg {
  margin-top: 1.6rem;
}

