.login {
  margin: 0 auto;
  display: flex;
  text-align: left;
  gap: .4rem;
  flex-direction: column;
  padding: 2rem;
}

.login label {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.2rem;
}

.login input {
  border: none;
  border-radius: 4px;
  width: 300px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  font-size: 1rem;
  padding: .4rem;
}