.versiculo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 400px;
  padding: 2rem;
}

.versiculo p {
  font-size: 2.4rem;
}

.versiculo span {
  font-size: 1.8rem;
  text-align: right;

}

